<div class="b-global-container" ng-scrollbars>
  <div class="e-global-container-content">
    <div class="container">

      <form class="form-signin" name="signInForm">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="rc.singinUser.email">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" ng-model="rc.singinUser.password">
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="rc.singin()">Sign in</button>
      </form>
      <button class="btn btn-lg btn-danger btn-block" type="submit" ng-click="rc.signInGoogle()">Sign in Google</button>

    </div>
  </div>
</div>